.App{
  text-align: center;
}

.header{
  font-weight: 500;
  font-size: larger;
  border: 2px solid;
  background-color: #8E0625;
  color: white;
  text-align: center;
}

.add-contact{
      font-size: initial;
      font-weight: 500;
      font-family: fantasy;
      margin-left: 12px;
}

.formHeader{
  margin-left: 12px;
}

.btn{
 

  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.ContactsHeader{
  font-size: medium;
  font-weight: 500;
  font-family: system-ui ;
  margin-left: 12px;
  margin-top : 20px;
  margin-right : 12px;
}

.contacts{
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  background: #FDEFF2;
  margin-bottom: 2px;
  margin-left: 12px;
  margin-right: 5px;
}